/* CSS RESET */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  min-height: 100svh;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --color-tomato: hsl(4, 100%, 67%);
  --color-dark-slate-grey: hsl(234, 29%, 20%);
  --color-charcoal-grey: hsl(235, 18%, 26%);
  --color-grey: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);

  /* Typography */
  --fs-body: 1rem; /* 16px */
  --fw-regular: 400;
  --fw-bold: 700;
  --font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  place-items: center;
  font-family: var(--font-family);
  font-size: var(--fs-body);
  background-color: var(--color-charcoal-grey);
  color: var(--color-dark-slate-grey);
}

.container {
  display: block;
  background-color: var(--color-white);
}
.container picture img {
  width: 100%;
  height: auto;
}

.signup-form {
  padding: 1.5rem 1.5rem 2.5rem;
}
.signup-form h1 {
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  margin-bottom: 1.5rem;
}
.signup-form p {
  margin-bottom: 1.5rem;
}
.signup-form ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2.5rem;
}
.signup-form li {
  padding-left: 2rem;
  margin-bottom: 0.625rem;
  background: url("../assets/images/icon-list.svg") no-repeat left top;
  background-size: 1.3125rem;
}
.signup-form form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-form label {
  font-size: 0.875rem;
  font-weight: var(--fw-bold);
}
.signup-form input[type="text"] {
  padding: 1rem;
  border: 1px solid var(--color-grey);
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  transition: all 0.3s ease;
}
.signup-form input[type="text"]::placeholder {
  color: var(--color-grey);
}
.signup-form input[type="text"]:hover {
  cursor: pointer;
  border-color: var(--color-dark-slate-grey);
}
.signup-form button {
  background-color: var(--color-dark-slate-grey);
  color: var(--color-white);
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.signup-form button:hover {
  background: linear-gradient(to right, var(--color-tomato), #ff527b);
  box-shadow: 0 1rem 1.5rem rgba(255, 97, 85, 0.3);
}

.success-message {
  display: none;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 2.5rem 1.5rem;
  min-height: 100vh;
}
.success-message img {
  margin-top: 2.5rem;
}
.success-message.visible {
  display: block;
}
.success-message h2 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 2.5rem 0 1.5rem;
}
.success-message p {
  margin-bottom: auto;
}
.success-message strong {
  font-weight: var(--fw-bold);
}
.success-message button {
  width: 100%;
  background-color: var(--color-dark-slate-grey);
  color: var(--color-white);
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.success-message button:hover {
  background: linear-gradient(to right, var(--color-tomato), #ff527b);
  box-shadow: 0 1rem 1.5rem rgba(255, 97, 85, 0.3);
}

.error-message {
  display: none;
  color: var(--color-tomato);
  font-size: 0.875rem;
  font-weight: var(--fw-bold);
}
.error-message.visible {
  display: block;
}

.signup-form input[type="text"].error {
  color: var(--color-tomato);
  border-color: var(--color-tomato);
  background-color: hsla(4, 100%, 67%, 0.15);
}

@media (min-width: 60rem) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1.5rem;
    max-inline-size: 58rem;
    padding: 1.5rem;
    border-radius: 2.25rem;
  }
  .container picture {
    flex: 1;
  }

  .signup-form {
    flex: 1;
  }
  .signup-form h1 {
    font-size: 3.5rem;
  }

  .success-message {
    max-inline-size: 31.5rem;
    min-height: auto;
    padding: 3rem;
    border-radius: 2.25rem;
  }
  .success-message img {
    margin-top: 0;
  }
  .success-message p {
    margin-bottom: 2.5rem;
  }
}
